body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #5a2a27;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}

/* HOME SECTION WITH IMAGE */
.home {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("home_screen.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 18px;
}

/* ABOUT */
.about {
    padding: 60px 20px;
}

/* COLLECTION */
.collection {
    padding: 60px 20px;
    background: #fbeee6;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.menu-card {
    background: white;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-card p {
    margin-top: 8px;
    font-weight: bold;
}


.menu li {
    margin: 10px 0;
}

/* CONTACT */
.contact {
    padding: 60px 20px;
}

/* FOOTER */
footer {
    background: #5a2a27;
    color: white;
    padding: 15px;
}
